@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

:root {
  --background-start-color: #E2E2F1;
  --background-end-color: #D2D3EA;
  --point-color-main: #4b4c9d;
  --point-color-sub: #a5a6d9;
  --point-color-light: #e8e8f7;
  --point-color-active: #3a3b7b;
  --font-color-main: #333333;
  --font-color-point: #4b4c9d;
  --font-h1: 32px;
  --font-h2: 24px;
  --font-body: 16px;
  --spacing-unit: 8px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom right, var(--background-start-color), var(--background-end-color));
  color: var(--font-color-main);
  line-height: 1.6;
  min-height: 100vh;
}

* {
  font-family: 'GMarketSans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3 {
  color: #3a3b7b;
}